# build results
.next
dist
build
out
dev-dist       

# dependencies
node_modules

# version control
.git
.svn
.hg

# package managers
package-lock.json
pnpm-lock.yaml

# HTML ignore
**/*.html

# PWA assets
public/sw.js     
public/workbox-*.js